RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://escuelapoblana.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://escuelapoblana.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://escuelapoblana.org.md-79.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://escuelapoblana.org.md-79.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pruebas.escuelapoblana.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pruebas.escuelapoblana.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pruebas.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pruebas.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.escuelapoblana.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.escuelapoblana.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.escuelapoblana.org.md-79.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.escuelapoblana.org.md-79.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pruebas.escuelapoblana.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pruebas.escuelapoblana.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pruebas.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pruebas.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://escuelapoblana.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://escuelapoblana.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://escuelapoblana.org.md-79.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://escuelapoblana.org.md-79.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pruebas.escuelapoblana.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pruebas.escuelapoblana.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pruebas.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pruebas.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.escuelapoblana.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.escuelapoblana.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.escuelapoblana.org.md-79.webhostbox.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.escuelapoblana.org.md-79.webhostbox.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pruebas.escuelapoblana.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pruebas.escuelapoblana.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pruebas.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pruebas.org$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

